
<style>
    .set-img {
        font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
    }

    .table tr td {
        border: 0 !important;
    }

    .custome-class-form h4 {
        font-weight: bold;
        color: #000;
    }

    .custome-class-form label {
        font-weight: bold !important;
        color: #000;
    }

    .table tr .V__align {
        vertical-align: bottom !important;
    }

    .width {
        width: 195px;
    }

    .select2-container {
        width: 221px !important;
    }
</style>
@model TestMVC.Models.CityViewModel
<div class="widget-body no-padding" style="overflow-x:hidden;margin-top:-20px;padding:0px">
    @using (Html.BeginForm("InsertUpdateCity", "City", FormMethod.Post, new { id = "popupForm", @class = "smart-form custome-class-form", @novalidate = "novalidate", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <div class="alertDiv">
            </div>
            <div class="row">
                <br />
                <div class="col-md-5">
                    <label>City Name</label>
                    <input type="hidden" id="CityId" name="CityId" value="@Model.CityId" />
                    <input type="hidden" id="HiddenCountryId" name="HiddenCountryId" value="@Model.CountryId" />
                    <input type="hidden" id="HiddenCountryName" name="HiddenCountryName" value="@Model.CountryName" />

                    <label class="input">
                        @*<i class="icon-prepend fa fa-info"></i>*@
                        @*<input type="text" placeholder="Type Name" id="TypeName" name="TypeName" />*@
                        @Html.TextBoxFor(a => a.CityName, new { @placeholder = "City Name", @maxlength = "100", @class = "form-control" })

                    </label>
                </div>
                <div class="col-md-7">
                    <table class="" style="width: 100% !important">
                        <tr>
                            <td style="width: 100% !important;">
                                <div style="padding: 3px">
                                    <label>Select Country</label>
                                    <label class="select">
                                        @Html.DropDownListFor(model => model.CountryId, Enumerable.Empty<SelectListItem>(), new { @style = "221px !important" })
                                    </label>
                                </div>
                            </td>
                            <td style="width: 2%;margin-left: -5px;padding-top:8.7px;">
                                <a href="/home/Index" target="_blank" class="btn btn-primary" style="margin-top: 13px; color: #fff; padding: 4.1px; margin-left: -4px; margin-right: 40px; height: 29px; width: 35px; background-color: #aaaaaa !important; border-color: #aaaaaa !important;" title="Add New Country">
                                    <i class="glyphicon glyphicon-plus" style="margin-left:2px"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </fieldset>
        <footer>
            <button type="submit" id="btn_Save" class="btn btn-labeled btn-primary pull-right">
                SAVE
            </button>
        </footer>
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
       
        $('#CityName').focus();

        if ($('#CityId').val() > 0) {
            /////////------Address--------------/////////
            if ($('#CountryId').find("option[value='" + $('#HiddenCountryId').val() + "']").length) {
                $('#ContryId').val($('#HiddenCountryId').val()).trigger('change');
            } else {
                // Create a DOM Option and pre-select by default
                var newOption = new Option($('#HiddenCountryName').val(), $('#HiddenCountryId').val(), true, true);
                // Append it to the select
                $('#CountryId').append(newOption).trigger('change');
            }
        }
        else {
            $('#Gender').val(null).trigger('change');
        }

        var pageSize = 20;
        var optionListUrl = '@Url.Action("GetCountryOptionList", "ComboListCountry")';

        $('#CountryId').select2({
            ajax: {
                delay: 150,
                url: optionListUrl,
                dataType: 'json',

                data: function (params) {
                    params.page = params.page || 1;
                    return {
                        searchTerm: params.term,
                        pageSize: pageSize,
                        pageNumber: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                }
            },
            //placeholder: "-- Select City--",
            minimumInputLength: 0,
            allowClear: true,
            //dropdownParent: $(".mySelect")
        });
    })
    //$(document).on('keydown',function (event) {
    //    if (event.altKey && event.keyCode === 83) {
    //        $('#popupForm').submit();
    //    }
    //})
    $('#popupForm').on('submit', function (e) {
        e.preventDefault();
        if (!$("#popupForm").valid()) {
            return false;
        }
        $('#btn_Save').attr('disabled', 'disabled');
        $('#btn_Save').html("<i class='fa fa-refresh fa-spin'></i> &nbsp; Processing...");


        var labelId = $('#CityId').val();

        var labelName = $('#CityName').val();

        var CountryId = $('#CountryId').val();



        var st =
        {
            CityId: labelId,

            CityName: labelName,
            CountryId: CountryId

        }
        $.ajax({
            type: "POST",
            url: "/city/InsertUpdateCity/",
            data: st,
            dataType: 'json',
            success: function (data) {
                $('#btn_Save').html("Save");
                if (data.status) {

                    $('#MyModal').animate({ scrollTop: 0 }, 'fast');
                    $('.alertDiv').html('<div class="alert alert-success" id="success-alert" style="">' +
                        '<button type="button" class="close" data-dismiss="alert">x</button>' +

                        '<strong>Success! </strong>' +
                        'City Saved Succesfully.' +
                        '</div>');
                    $("#success-alert").fadeTo(1000, 500).slideUp(500, function () {
                        $("#success-alert").slideUp(500);
                        $('.alertDiv').html('');
                        $('.close').click();
                        oTable.ajax.reload(null, false);
                        $('#txtSearch').focus();
                    });
                }
                else {

                    $('#btn_Save').prop('disabled', false);
                    alert(data.message);
                }
            }
        })
    })



    function SaveForm() {

    }




</script>


