@model TestMVC.Models.UserViewModel

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/loginSignup.css" rel="stylesheet" />
@*<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel="stylesheet">*@
<link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel="stylesheet">

<style>
    #btnLogin {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        /*float:left;*/
        cursor: pointer;
    }
    #btnLogin:hover {
        background: #2ecc71;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="box" id="loginForm">

                    <div><b>@Html.ValidationMessageFor(model => model.UserName, null, new { @class = "text-danger" })</b></div>
                    <b>@Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })</b>
                    <b id="important"></b>

                    <h1>Login</h1>
                   
                    <p class="text-muted"> Please enter your login and password!</p>
                     @Html.TextBoxFor(model => model.UserName, new { @autocomplete = "off", placeholder = "Enter Name" })
                    
                        @Html.TextBoxFor(model => model.Password, new { @autocomplete = "off", placeholder = "Enter Password", @type = "password", @class = "toggle-password", id = "password-field" })
                        
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" style="cursor:pointer;margin-right:100px;float:right;margin-top:-50px;color:white"></span>
                    
                         @*<input type="submit" name="" id="btnLogin" value="Login">*@

                  
                    <button type="submit" id="btnLogin">Login</button>
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*@using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "loginForm", enctype = "multipart/form-data", role = "form" }))
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">





            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.UserName, new {  @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class="text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit"  class="btn btn-default" id="btnLogin">Login</button>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Sign Up", "SignUp")
    </div>*@

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">
   
      
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
   

    $('#loginForm').on('submit', function (e) {
        e.preventDefault();

        //if (!('#loginForm').valid())
        //{
        //    return false;
        //}



        var userName = $('#UserName').val();
        var password = $('#password-field').val();
        var login = {
            UserName: userName,
            Password: password
        };
        $.ajax({
            type: 'POST',
            url: '/User/Login',
            data: login,
            dataType: 'json',

            success: function (response) {
                //$('#btnLogin').html("Login");
                if (response.abc == true) {
                    window.location.href = "/User/SignUp";
                    $('#btnLogin').attr('disabled', 'disabled');
                    $('#btnLogin').html("<i class='fa fa-refresh fa-spin'></i> &nbsp; Processing...");
                }
                else {
                    $('#important').html('<span style="color:red;font-size:16px">' + response.abc2 + '</span>');
                }
            }



        });

    })

</script>



